
:root{
    --h: 180;
    --htwo: 350;
    --s:100%;
    --backcolor: hsl(var(--h),var(--s),20%);
    --bcolor: hsl(var(--htwo),var(--s),20%);
}
body{
    background-color: var(--backcolor);
}
.statistics{
    font-family:impact;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: white;
    width:fit-content;
    border-style: groove;
    margin-left: 47vw;
}
.statistics >*{
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: .5;
    
}

#paddle
{
    position: absolute;
    top: 500px;
    width: 1vh;
    height: 20vh;
    
    background-color: white;
}


#ball   
{
    position: absolute;

    top: 500px;
    left: 375px;
    background-color: var(--bcolor);
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
}