
:root{
    --h: 520;
    --htwo: 450;
    --s:100%;
    --backcolor: hsl(var(--h),var(--s),20%);
    --bcolor: hsl(var(--htwo),var(--s),0%);
}
body{
    background-color: var(--backcolor);
}
.statistics{
    font-family:impact;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: white;
    width:fit-content;
    border-style: groove;
    margin-left: 47vw;
}
.statistics >*{
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: .5;
    
}

#paddle
{
    position: absolute;
    top: 40vh;
    width: 1vh;
    height: 20vh;
    left: 1vw;
    
    background-color: white;
}


#ball   
{
    position: absolute;

    top: 50vh;
    left: 50vw;
    background-color: var(--bcolor);
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
}
#message{
    font-family:impact;
    font-size: 5vh;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center  ;
}
.what{
    height: 90vh;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;

}
.menu{
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-between;
    font-family:impact;
    font-size: 3vh;
    color: white;
    letter-spacing: .1em;

}
button{
    width: 40vh;
    height: 12vh;
    font-family:impact;
    font-size: 5vh;
    color: var(--bcolor);
}
button:hover{
    background-color:gray;
}