
body{
    
}
.Table{
    display: flex;
    width: 1800px;
    height: 840px;
    border-style: solid;
    border-width: 15px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    background-image: url(img/tableb.jpg);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 10px 10px lightgray;

}
.goal{
    
    border-style: solid;
    border-width: 5px;
    
    height: 300px;
}
.midline{
    border-width: 5px;
    border-style: solid;
    color: red;
    height:830px;
}
